table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
  
  .img {
    width: 30px;
    height: 30px;
  }
  
  .img-full {
    width: 400px;
    height: 617px;
  }