<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 30rem;">
            <div class="card" style="width: 30rem;">
                <img class="img-fluid" src="http://127.0.0.1:8887/Frases/{{ arquivoFrase }}" alt="Card image cap">
                <div class="shadow-sm p-3 mb-5 bg-body rounded">
                  <span class="fw-bold">Nome da HQ:</span> <span class="text-light bg-dark"> {{ tituloFraseHQ }}</span>
                  <span class="fw-bold">Autor:</span> <span class="text-light bg-dark"> {{ autorFrase }}</span>
                </div>
                <span>Total de edições cadastradas:</span> <span class="text-info bg-dark"> {{ totalHqs }}</span>
              </div>
        </div>
      </div>
      <div class="col">
            <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="http://127.0.0.1:8887/Capas/{{ capa3 }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{tituloCard3}}</h5>
              <p class="text-info bg-dark">Publicado em:</p><p class="text-warning bg-dark">{{publicacaoCard3}}</p>
              <a [routerLink]="['/hq', idHq3]" class="btn btn-primary">Detalhes</a>
            </div>
            </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="http://127.0.0.1:8887/Capas/{{ capa2 }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{tituloCard2}}</h5>
              <p class="text-info bg-dark">Publicado em:</p><p class="text-warning bg-dark">{{publicacaoCard2}}</p>
              <a [routerLink]="['/hq', idHq2]" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="http://127.0.0.1:8887/Capas/{{ capa1 }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{tituloCard1}}</h5>
              <p class="text-info bg-dark">Publicado em:</p><p class="text-warning bg-dark">{{publicacaoCard1}}</p>
              <a [routerLink]="['/hq', idHq1]" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="http://127.0.0.1:8887/Capas/{{ capa4 }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{tituloCard4}}</h5>
              <p class="text-info bg-dark">Publicado em:</p><p class="text-warning bg-dark">{{publicacaoCard4}}</p>
              <a [routerLink]="['/hq', idHq4]" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img class="card-img-top" src="http://127.0.0.1:8887/Capas/{{ capa5 }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{tituloCard5}}</h5>
              <p class="text-info bg-dark">Publicado em:</p><p class="text-warning bg-dark">{{publicacaoCard5}}</p>
              <a [routerLink]="['/hq', idHq5]" class="btn btn-primary">Detalhes</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
  </div>